
fastapi==0.120.4
langchain==0.0.335
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.7
llama-index-cli==0.5.3
llama-index-core==0.14.7
llama-index-embeddings-ollama==0.8.3
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-ollama==0.9.0
llama-index-llms-openai==0.6.6
llama-index-readers-file==0.5.4
llama-index-readers-llama-parse==0.5.1
llama-index-workflows==2.10.1
llama-parse==0.6.54
ollama==0.6.0
openai==1.109.1
python-dotenv==1.2.1
langchain-openai
tiktoken==0.12.0
uvicorn==0.38.0